.container h1 {
  text-align: center;
  color: var(--dark);
}

.product {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  width: 1100px;
  margin: 10rem auto;
}

.card {
  overflow: hidden;
  background-color: var(--dark);
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.3rem;
}

.card-img {
  border: 2px solid var(--primary);
  border-radius: 0.3rem;
  width: 100px;
}

.card .contant .detail .info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.card .contant .detail .info .title {
  color: var(--primary);
  font-weight: 300;
  text-transform: uppercase;
}

.card .contant .detail .info .price {
  color: #ccc;
  font-weight: 600;
}
.card .contant .detail button {
  margin-top: 1.875rem;
  margin-left: 20%;
  padding: 0.625rem 1.875rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

/*========MODAL===========*/
.detail-container {
  position:absolute ;
  z-index: 1;
  align-items: center;
  width: 800px;
  margin-left: 30%;
  margin-bottom: 20%;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  padding: 1.25rem 1.875rem;
  transition: all 0.5s ease;
}
.detail-container .detail-contant {
  max-width: 100%;
}

.detail-container .detail-contant .close {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: none;
}

.detail-container .detail-contant .detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-container .detail-contant .detail-info .img-card img {
  width: 250px !important;
  height: 250px;
}
.detail-container .detail-contant .detail-info .product-detail .modal-title {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 300;
}
.image{
    width: 250px !important
}
.detail-container .detail-contant .detail-info .product-detail .modal-price {
  color: var(--primary);
  font-weight: 300;
}
.detail-container .detail-contant .detail-info .product-detail .modal-desc {
  font-weight: 300;
  line-height: 2;
}
.detail-container .detail-contant .detail-info .product-detail button {
  color: var(--primary);
  font-weight: 300;
  margin-top: 1.25rem;
  padding: 0.625rem 1.875rem;
  border: none;
  outline: none;
  border: 1px solid var(--primary);
  border-radius: 0.3rem;
  cursor: pointer;
}
